* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia;
    height: 100vh;
    width: auto;
    display: contents;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1 {
    color: dodgerblue;
}